[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggfocus"]
	path = ggfocus
	url = https://github.com/freguglia/ggfocus
[submodule "mrf2d"]
	path = mrf2d
	url = https://github.com/freguglia/mrf2d
